@using BlazorFocused
@using BlazorMusic.Client.Actions
@using BlazorMusic.Client.Models
@using BlazorMusic.Client.Reducers
@using BlazorMusic.Shared

@inject IStore<ArtistStore> store

@if (artist is not null)
{
    <h1>@artist.Name</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="artist-overview" class="nav-link @IsCurrentTab(ArtistTab.Overview)" href="#" @onclick="@(() => ChangeTab(ArtistTab.Overview))">Overview</a>
        </li>
        <li class="nav-item">
            <a id="artist-releases" class="nav-link @IsCurrentTab(ArtistTab.Releases)" href="#" @onclick="@(() => ChangeTab(ArtistTab.Releases))">Releases</a>
        </li>
        <li class="nav-item">
            <a id="artist-histogram" class="nav-link @IsCurrentTab(ArtistTab.Histogram)" href="#" @onclick="@(() => ChangeTab(ArtistTab.Histogram))">Histogram</a>
        </li>
    </ul>

    @switch(currentTab)
    {
        case ArtistTab.Overview:
            <ArtistOverview />
            break;
        case ArtistTab.Releases:
            <ArtistReleases />
            break;
        case ArtistTab.Histogram:
            <ArtistHistogram />
            break;
        default:
            break;
    }
}
else
{
    <h3>ArtistDetails</h3>

    <div class="unselected-artist">No artist has been selected</div>
}

@code {
    private enum ArtistTab { Overview, Releases, Histogram }

    private Artist artist = null;
    private ArtistTab currentTab = ArtistTab.Overview;

    protected override void OnInitialized()
    {
        store.Subscribe(store =>
        {
            if (artist is not null && artist.Id != store.CurrentArtist.Id)
                currentTab = ArtistTab.Overview;

            artist = store.CurrentArtist;

            StateHasChanged();
        });
    }

    private string IsCurrentTab(ArtistTab tabName) =>
        currentTab == tabName ? "active" : string.Empty;

    private void ChangeTab(ArtistTab tabName)
    {
        currentTab = tabName;

        StateHasChanged();
    }
}
